# Asaas API Configuration
# Sandbox: https://sandbox.asaas.com/api/v3
# Producao: https://api.asaas.com/v3
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=sua_chave_api_aqui

# Server
PORT=3001
